img {
    max-width: 100%;
    height: auto;
}
input {
    border-width: thin;
    border-color: #000000;
    width: 100%;
    height: 50px;
}
a {
    text-decoration: none;
}
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.lh-1 {
    line-height: 1.5;
}
.f-4-2 {
    font-size: 36px;
}
.header-bg {
    background-color: #aa0601;
    height: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.white {
    color: white;
}
.dark-color {
    color: #212529;
}
.dark-color a {
    color: #212529;
}
nav > ul {
    color: #fff;
}
.d-flex {
    display: flex;
}

nav > ul > li a {
    padding: 37px 32px;
    font-size: 20px;
}

nav > ul > li a:hover {
    background-color: yellow;
    color: #aa0601;
}

nav > ul > li a {
    text-decoration: none;
    color: #ffffff;
}

.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}

.mr-10 {
    margin-right: 88px;
}
.ml-10 {
    margin-left: 88px;
}
.mb-2_1 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 24px;
}
.main {
    background-image: url("../images/banner.png");
    background-repeat: repeat;
    background-size: 1920px 840px;
    width: 100%;
    height: 840px;
    background-position: center;
    display: flex;
    align-items: center;
}
.f-6 {
    font-size: 48px;
}

.mb-6 {
    margin-bottom: 48px;
}
.m-5 {
    margin-bottom: 40px;
}
.f-8 {
    font-size: 64px;
}

.f-9 {
    font-size: 72px;
}
.mb-10 {
    margin-bottom: 80px;
}
.mr-3 {
    margin-right: 24px;
}
.mr-3-1 {
    margin-right: 30px;
}
.f-4 {
    font-size: 32px;
}

.mr-4 {
    margin-right: 32px;
}
.pr-4 {
    padding-right: 32px;
}
.ml-4 {
    margin-left: 32px;
}
.mb-3 {
    margin-bottom: 24px;
}

.pt-7-1 {
    padding-top: 60px;
}
.pr-1 {
    padding-right: 8px;
}
.pr-6 {
    padding-right: 48px;
}
.mb-1 {
    margin-bottom: 8px;
}
.primary-color {
    color: #650300;
}
.back-color {
    color: #000000;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}

.banner {
    min-width: 1110px;
}

.bold {
    font-weight: 500;
}
.mb-2 {
    margin-bottom: 16px;
}
.ml-2 {
    margin-left: 16px;
}
.title {
    font-size: 64px;
}
.sub-title {
    font-size: 32px;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-left: 88px;
    margin-right: 50px;
}
.about {
    text-align: center;
}

.about > ul > li > h3 {
    font-size: 24px;
}

.about > ul > li > p {
    max-width: 255px;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}
.icon-list {
    display: flex;
    justify-content: space-between;
}
.bg-color {
    background-color: #aa06010d;
}
.about-image {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-list {
    /* display: flex;
    flex-wrap: wrap; */
}
.product-list > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-list > ul > li > h3 {
    color: #aa0601;
    font-size: 48px;
}
.product-list > ul > li > h3 > img {
    vertical-align: bottom;
}

.product-list > ul > li {
    display: flex;
    margin: 32px;
    align-items: center;
    width: 1110px;
}
.row-reverse {
    flex-direction: row-reverse;
}
.product-list > ul > li > img {
    width: 635px;
}

.product {
    padding-top: 60px;
}
.product-icon {
    width: 32px !important;
    height: 32px;
}

.italic {
    font-style: italic;
}

.design {
    background-image: url("../images/bg.png");
    height: 705px;
    background-position: center center;
    background-size: cover;
}
.design-list {
    display: flex;
    justify-content: space-between;
}
/* .design-list h3 {
    color: #aa0601;
    position: relative;
    text-align: center;
    top: -50%;
} */
.design-list .mask {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: calc(100% - 74px);
    position: relative;
    display: block;
    top: -100%;
}

.design-list,
.design-list a {
    /* height: 455px; */
}
.design-list h3 {
    /* height: 455px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aa0601;
    position: relative;
    bottom: 50%;
}
.design-list img {
    height: 455px;
}
.customer ul {
    display: flex;
    justify-content: space-between;
}

.customer li {
    margin: 30px;
}
.customer img {
    max-width: 255px;
    height: auto;
}
.customer-list {
    border: 1px solid #dee2e6;
    box-shadow: -3px -3px 9px #00000029;
    height: 460px;
}
.zIndex-1 {
    z-index: 1;
}
.customer-list-content {
    display: flex;
    flex-wrap: wrap;
    height: -webkit-fill-available;
    padding: 16px 16px 0 16px;
}
.customer-list-content p {
    line-height: 1.5;
    height: 69px;
}
.customer-list-content p span {
    display: block;
}
.customer-list-content .date {
    position: relative;
    bottom: 36px;
}
.contact {
    background-color: #aa06010d;
    height: fit-content;
}

.f-xl-9 {
    font-size: 72px;
}

.f-s {
    font-size: 14px;
}

.contact > div {
    width: 730px;
    font-size: 20px;
}

form > input[type="checkbox"] {
    width: 24px;
    vertical-align: middle;
    margin-right: 4px;
    /* margin-bottom: 40px; */
}
form > textarea {
    width: 100%;
}

form > div {
    margin-top: 40px;
    text-align: center;
}
/*webkit瀏覽器專用*/
.contact ::-webkit-input-placeholder {
    padding-left: 16px;
}

.btn-primary {
    color: #fff;
    background-color: #aa0601;
    /* border-color: #0d6efd; */
    width: 350px;
    height: 54px;
    font-size: 16px;
}
.footer {
    background-color: #aa0601;
}
.pt-5-1 {
    padding-top: 44px;
}
.ai-c {
    align-items: center;
}
.jcsb {
    justify-content: space-between;
}
.footer > ul > li > a {
    background-color: yellow;
    color: #ffffff;
}
.mr-2-2 {
    margin-right: 22px;
}
.border-bottom {
    border-bottom: #fff solid 1px;
}
.pb-5 {
    padding-bottom: 40px;
}

.mb-5 {
    margin-bottom: 40px;
}
@media (max-width: 1100px) {
    .banner {
        min-width: 100%;
    }
    .design-list img {
        width: 330px;
        height: 278px;
    }
    .design-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .design-list .mask {
        background-color: rgba(255, 255, 255, 0.5);
        width: 330px;
        height: 278px;
        position: relative;
        display: block;
        top: -113%;
    }

    .f-md-4 {
        font-size: 32px;
    }
    .design-list h3 {
        bottom: 57%;
    }
    .design-list,
    .design-list a {
        height: 278px;
    }
    .design {
        height: 452px;
    }
    .mr-m-2 {
        margin-right: 15px;
    }
    .ml-m-2 {
        margin-left: 15px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 690px;
        margin: 0 auto;
        /* background-color: #0d6efd; */
    }
    .header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin-left: 39px;
        margin-right: 13px;
    }
    .main {
        background-image: url("../images/banner-sm.png");
        background-repeat: repeat;
        width: 100%;
        height: 840px;
        background-position: center center;
        background-size: cover;
        display: flex;
        align-items: center;
    }
    .title {
        font-size: 48px;
    }
    .sub-title {
        font-size: 20px;
    }
    .f-md-4 {
        font-size: 32px;
    }
    .design-list,
    .design-list a {
        height: 278px;
    }
    .design {
        height: 452px;
    }
    .mr-m-2 {
        margin-right: 15px;
    }
    .ml-m-2 {
        margin-left: 15px;
    }
}

@media (max-width: 375px) {
    .header-bg {
        height: 140px;
    }
    nav {
        width: 100%;
        margin-top: 5px;
    }

    .header {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
    }
    .header a {
        margin-top: 10px;
    }
    .d-flex {
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 4px;
    }
    nav > ul > li {
        display: block;
        width: 50%;
        text-align: center;
        border: 1px solid #fff;
        padding: 10px 0px;
    }
    nav > ul > li a {
        padding: 0px 0px;
        font-size: 20px;
    }
    nav > ul > li a:hover {
        background-color: yellow;
        color: #aa0601;
    }
    .main {
        background-image: url("../images/banner-sm.png");
        background-repeat: repeat;
        background-size: 375px 394px;
        background-position: center center;
        background-size: cover;
        width: 100vw;
        height: 394px;
        display: flex;
        align-items: center;
        background-position: center;
        display: flex;
    }
    .title {
        font-size: 48px;
    }
    .sub-title {
        font-size: 20px;
    }

    .d-block {
        max-width: 48px;
        height: auto;
        margin-bottom: 10px;
    }

    .title {
        font-size: 32px;
    }
    .sub-title {
        font-size: 16px;
    }

    .f-md-9 {
        font-size: 32px;
    }
    .design-list img {
        width: 270px;
        height: auto;
    }
}
