img {
    max-width: 100%;
    height: auto;
}
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.header-bg {
    background-color: #aa0601;
    height: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    color: #fff;
}
.d-flex {
    display: flex;
}

nav > ul > li a {
    padding: 37px 32px;
    font-size: 20px;
}

nav > ul > li a:hover {
    background-color: yellow;
    color: #aa0601;
}

nav > ul > li a {
    text-decoration: none;
    color: #ffffff;
}

.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}

.mr-10 {
    margin-right: 88px;
}
.ml-10 {
    margin-left: 88px;
}

.main {
    background-image: url("../images/banner.png");
    background-repeat: repeat;
    background-size: 1920px 840px;
    width: 100%;
    height: 840px;
    background-position: center;
    display: flex;
    align-items: center;
}
.f-6 {
    font-size: 48px;
}

.mb-6 {
    margin-bottom: 48px;
}
.f-8 {
    font-size: 64px;
}
.mr-3 {
    margin-right: 24px;
}
.f-4 {
    font-size: 32px;
}

.ml-4 {
    margin-left: 32px;
}
.mb-3 {
    margin-bottom: 24px;
}

.mb-1 {
    margin-bottom: 8px;
}
.primary-color {
    color: #650300;
}
.back-color {
    color: #000000;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}

.banner {
    width: 100%;
    margin: 0 0 0 auto;
}
.bold {
    font-weight: 500;
}
.mb-2 {
    margin-bottom: 16px;
}
.ml-2 {
    margin-left: 16px;
}
.title {
    font-size: 64px;
}
.sub-title {
    font-size: 32px;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-left: 88px;
    margin-right: 50px;
}
.about {
    text-align: center;
    padding-top: 60px;
}

.about > ul > li > h3 {
    font-size: 24px;
}

.about > ul > li > p {
    max-width: 255px;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}
.icon-list {
    display: flex;
    justify-content: space-between;
}
.bg-color {
    background-color: #aa06010d;
}
.about-image {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-list {
    /* display: flex;
    flex-wrap: wrap; */
}
.product-list > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-list > ul > li > h3 {
    color: #aa0601;
    font-size: 48px;
}
.product-list > ul > li > h3 > img {
    vertical-align: bottom;
}

.product-list > ul > li {
    display: flex;
    margin: 32px;
    align-items: center;
    width: 1110px;
}
.row-reverse {
    flex-direction: row-reverse;
}
.product-list > ul > li > img {
    width: 635px;
}
@media (max-width: 1110px) {
}
@media (max-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin-left: 39px;
        margin-right: 13px;
    }
    .main {
        background-image: url("../images/banner-sm.png");
        background-repeat: repeat;
        width: 100%;
        height: 840px;
        background-position: center;
        display: flex;
        align-items: center;
    }
    .title {
        font-size: 48px;
    }
    .sub-title {
        font-size: 20px;
    }
}

@media (max-width: 375px) {
    .header-bg {
        height: 140px;
    }
    nav {
        width: 100%;
        margin-top: 5px;
    }

    .header {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
    }
    .header a {
        margin-top: 10px;
    }
    .d-flex {
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 4px;
    }
    nav > ul > li {
        display: block;
        width: 50%;
        text-align: center;
        border: 1px solid #fff;
        padding: 10px 0px;
    }
    nav > ul > li a {
        padding: 0px 0px;
        font-size: 20px;
    }
    nav > ul > li a:hover {
        background-color: yellow;
        color: #aa0601;
    }
    .main {
        background-image: url("../images/banner-sm.png");
        background-repeat: repeat;
        background-size: 375px 394px;
        width: 100vw;
        height: 394px;
        display: flex;
        align-items: center;
        background-position: center;
        display: flex;
    }
    .title {
        font-size: 48px;
    }
    .sub-title {
        font-size: 20px;
    }

    .d-block {
        max-width: 48px;
        height: auto;
        margin-bottom: 10px;
    }

    .title {
        font-size: 32px;
    }
    .sub-title {
        font-size: 16px;
    }
}

.product {
    padding-top: 60px;
}
.product-icon {
    width: 32px !important;
    height: 32px;
}

.italic {
    font-style: italic;
}

.design {
    background-image: url("../images/bg.png");
    height: 200px;
}
