.mb-1 {
  margin-bottom: 8px;
}
.mt-1 {
  margin-top: 8px;
}
.pb-1 {
  padding-bottom: 8px;
}

.pt-1 {
  padding-top: 8px;
}
.mb-2 {
  margin-bottom: 16px;
}

.pb-2 {
  padding-bottom: 16px;
}
.mb-3 {
  margin-bottom: 24px;
}

.mb-5 {
  margin-bottom: 40px;
}

.pr-3 {
  padding-right: 24px;
}
.mb-6 {
  margin-bottom: 48px;
}

.mt-6 {
  margin-top: 48px;
}
.mb-9 {
  margin-bottom: 72px;
}
.pb-9 {
  padding-bottom: 72px;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.container {
  width: 1200px;
  margin: 0 auto;
  color: #000000;
}

.title {
  font-size: 80px;
  line-height: 94px;
  padding-bottom: 16px;
  border-bottom: 1px solid #000;
}
.subTitle {
  font-size: 32px;
  /* line-height: 45px; */
  font-weight: 400;
  border-bottom: 1px solid #000;
}
.subTitle span {
  color: #a00404;
  padding-left: 16px;
  padding-bottom: 8px;
  font-size: 24px;
}
.descript {
  font-size: 24px;
  line-height: 45px;
  font-weight: 100;
}
.subTitle-white {
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.subTitle-white span {
  color: #fff;
  padding-left: 16px;
  padding-bottom: 8px;
  font-size: 24px;
}
.darkBlue {
  background-color: #415165;
  color: #fff;
  padding: 24px 0 1px 0;
}
.skill-content {
  border-left: 1px solid #96a9c4;
  width: 212px;
  padding-left: 24px;
  margin: 0 auto;
  line-height: 1;
  margin-bottom: 36px;
}

.work > .descript {
  border-left: 1px solid #96a9c4;
  padding-left: 24px;
  margin-left: 24px;
}
.work > ul > li {
  margin-bottom: 24px;
}

.contact-content {
  line-height: 1;
  margin-bottom: 36px;
}

.footer {
  text-align: center;
}
.flex-center {
  justify-content: center;
}
