<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>後台管理：產品管理</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="css/main.css" rel="stylesheet" />
</head>

<body>
  <div id="app" data-v-app>
    <div class="container">
      <div class="text-end mt-4">
        <button @click:prevent="processProductMethod($event,'')" data-type="addProduct" type="button" class="btn btn-primary"
          data-bs-toggle="modal" data-bs-target="#productModal">
          建立新的產品
        </button>
      </div>
      <table class="table mt-4">
        <thead>
          <tr>
            <th class="w120">分類</th>
            <th class="w120">產品名稱</th>
            <th class="w120">原價</th>
            <th class="w120">售價</th>
            <th class="w120">是否啟用</th>
            <th class="w120">編輯</th>
          </tr>
        </thead>
        <tr v-for="(item,key) in products">
          <td class="w120">{{item.category}}</td>
          <td class="w120">{{item.title}}</td>
          <td class="w120">NT${{item.origin_price}}</td>
          <td class="w120">NT${{item.price}}</td>
          <td class="w120">
            <template v-if="item.is_enabled==1"><span class="text-success">啟用</span></template>
            <template v-else><span>未啟用</span></template>
          </td>
          <td class="w120">
            <div class="btn-group">
              <button @click:prevent="processProductMethod($event,item.id)" data-type="editProduct" type="button"
                class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#productModal">
                編輯
              </button>
              <button @click:prevent="processProductMethod($event,item.id)" data-type="delProduct" type="button"
                class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delProductModal">
                刪除
              </button>
            </div>
          </td>
        </tr>
      </table>
      <!-- 頁碼元件 -->
      <page-item :pagination="pagination" @page-prev="pagePrev" @page-next="pageNext" @go-page="goPage"></page-item>
      <!-- Modal -->

      <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content border-0">
            <div class="modal-header bg-dark text-white">
              <h5 id="productModalLabel" class="modal-title">
                <template v-if="processType=='addProduct'"><span>新增產品</span></template><template
                  v-if="processType=='editProduct'"><span>編輯產品</span></template>
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="imageUrl">主要圖片</label>
                    <input v-model="tempProduct.data.imageUrl" type="text" class="form-control" placeholder="請輸入圖片連結" />
                    <img class="img-fluid" :src="tempProduct.data.imageUrl" />
                  </div>
                  <div class="mb-1">多圖新增</div>
                  <div v-if="Array.isArray(tempProduct.data.imagesUrl)">
                    <div class="mb-1" v-for="(image, key) in tempProduct.data.imagesUrl" :key="key">
                      <div class="form-group">
                        <label for="imageUrl">圖片網址</label>
                        <input v-model="tempProduct.data.imagesUrl[key]" type="text" class="form-control"
                          placeholder="請輸入圖片連結" />
                      </div>
                      <img class="img-fluid" :src="image" />
                    </div>
                    <div
                      v-if="!tempProduct.data.imagesUrl.length || tempProduct.data.imagesUrl[tempProduct.data.imagesUrl.length - 1]">
                      <button class="btn btn-outline-primary btn-sm d-block w-100"
                        @click:prevent="tempProduct.data.imagesUrl.push('')">
                        新增圖片
                      </button>
                    </div>
                    <div v-else>
                      <button class="btn btn-outline-danger btn-sm d-block w-100"
                        @click:prevent="tempProduct.data.imagesUrl.pop()">
                        刪除圖片
                      </button>
                    </div>
                  </div>
                  <div v-else>
                    <button class="btn btn-outline-primary btn-sm d-block w-100" @click="createImages">
                      多圖新增
                    </button>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="form-group">
                    <label for="title">標題</label>
                    <input v-model="tempProduct.data.title" id="title" type="text" class="form-control"
                      placeholder="請輸入標題" />
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="category">分類</label><input v-model="tempProduct.data.category" id="category"
                        type="text" class="form-control" placeholder="請輸入分類" />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="price">單位</label><input v-model="tempProduct.data.unit" id="unit" type="text"
                        class="form-control" placeholder="請輸入單位" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="origin_price">原價</label><input v-model="tempProduct.data.origin_price"
                        id="origin_price" type="number" min="0" class="form-control" placeholder="請輸入原價" />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="price">售價</label><input v-model="tempProduct.data.price" id="price" type="number"
                        min="0" class="form-control" placeholder="請輸入售價" />
                    </div>
                  </div>
                  <hr />
                  <div class="form-group">
                    <label for="description">產品描述</label><textarea v-model="tempProduct.data.description"
                      id="description" type="text" class="form-control" placeholder="請輸入產品描述">
                      </textarea>
                  </div>
                  <div class="form-group">
                    <label for="content">說明內容</label><textarea v-model="tempProduct.data.content" id="content"
                      type="text" class="form-control" placeholder="請輸入說明內容">
                      </textarea>
                  </div>
                  <div class="form-group">
                    <div class="form-check">
                      <input v-model="tempProduct.data.is_enabled" id="is_enabled" class="form-check-input"
                        type="checkbox" true-value="1" false-value="0" /><label class="form-check-label"
                        for="is_enabled">是否啟用</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <template v-if="processType=='editProduct'"><button @click="cancelProductMethod($event)"
                  data-type="editProduct" type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                  取消
                </button></template><template v-if="processType=='addProduct'"><button
                  @click="cancelProductMethod($event)" data-type="addProduct" type="button"
                  class="btn btn-outline-secondary" data-bs-dismiss="modal">
                  取消
                </button></template><button @click="addOrEditProductMethod" type="button" class="btn btn-primary">
                確認
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div id="delProductModal" class="modal fade" tabindex="-1" aria-labelledby="delProductModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content border-0">
            <div class="modal-header bg-danger text-white">
              <h5 id="delProductModalLabel" class="modal-title">
                <span>刪除產品</span>
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              是否刪除
              <strong class="text-danger"></strong> 商品(刪除後將無法恢復)。
            </div>
            <div class="modal-footer">
              <button @click="cancelProductMethod($event)" type="button" class="btn btn-outline-secondary"
                data-bs-dismiss="modal">
                取消</button><button @click="delProductMethod" type="button" class="btn btn-danger">
                確認刪除
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js"
    integrity="sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=="
    crossorigin="anonymous"></script>
  <script src="./javascript/index3.js" type="module"></script>
</body>

</html>

<script type="text/x-template" id="pagination">
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" @click:prevent="emitPrev" v-if="pagination.has_pre">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li @click:prevent="emitgoPage(item)" v-for="(item,index) in pagination.total_pages" class="page-item" :key="index" :class="{'active':item===pagination.current_page}"><a class="page-link active" href="#">{{item}}</a></li>
    <li class="page-item" @click:prevent="emitNext" v-if="pagination.has_next">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</script>