/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  color: #000;
  /* line-height: 24px; */
}
.container {
  margin: 0 auto;
}
.main {
  width: 1200px;
  margin: 0 auto;
}
.hr {
  width: 100%;
  height: 1px;
  background-color: #000;
}

.avatar {
  min-width: 324px;
  height: auto;
}

.mr-2 {
  margin-right: 16px;
}
.ml-2 {
  margin-left: 16px;
}
.mb-2 {
  margin-bottom: 16px;
}
.pt-3 {
  padding-top: 24px;
}
.mt-3 {
  margin-top: 24px;
}
.mb-3 {
  margin-bottom: 24px;
}
.mb-4 {
  margin-bottom: 32px;
}
.pt-5 {
  padding-bottom: 40px;
}
.mt-5 {
  margin-top: 40px;
}
.mb-5 {
  margin-bottom: 40px;
}
.mt-6 {
  margin-top: 48px;
}
.mb-6 {
  margin-bottom: 48px;
}
.title {
  font-size: 80px;
}
.subtitle {
  font-size: 32px;
}
.subtitle-behind {
  color: #a00404;
  font-size: 24px;
}
.content li {
  line-height: 24px;
  margin-bottom: 24px;
}

.footer {
  background-color: #415165;
  height: auto;
  font-size: 24px;
}
.skill {
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.cr-white {
  color: #fff;
}
.bg-white {
  background-color: #fff;
}
.skill-list {
  max-width: 250px;
  margin: 0 auto;
}

.skill-list-ul {
  border-left: #96a9c4 1px solid;
}
.skill-list-ul li {
  line-height: 24px;
}
.footer-hr {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.experience {
  width: 1200px;
  margin: 0 auto;
}
